body{
    margin: 0;
    font-family: 'Roboto', serif;
    overflow-x: hidden;
}

h1{
    font-weight: normal;
}

.fader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.header-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/intro-bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
}

.header-title{
    margin-top: 200px;
    justify-self: center;
    font-family: 'Alkatra';
    font-size: xx-large;
    font-weight: 100;
    color: azure;
    z-index: 2;
}

.header-phone{
    margin-bottom: 20px;
    color: white;
    z-index: 2;
}

.specials-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-hr{
    width: 30px;
    border-top: 2px rgb(193, 38, 38) solid;
    border-radius: 3px;
}

.specials-wrapper{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-item{
    margin: 30px;
}

.special-item h3,p{
    text-align: center;
    color: gray;
}

.special-image{
    width: 100%;
}


.story-section{
    display: flex;
    width: 100%;
}

.story-title{
    text-align: center;
}

.story-text p{
    text-align: left;
}

.story-image-wrapper{
    width: 100%;
}
.story-image{
    width: 100%;
}